.searchResultContainer {
  max-width: 800px;
  padding: 10px;
  background-image: url("../images/monster_block_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}

.name {
  font-size: 2em;
}

.description {
  font-size: small;
}

.abiltiy-list-item {
  font-size: small;
}
.action-type {
  font-style: italic;
}
.subtitle {
  font-weight: bold;
}
